# Exploration

This is an analyses of the Met Galleries collection: found at https://metmuseum.github.io/

In [1]:
import pandas as pd
import json
import requests

The objects json below returns the toyal number of items and their Ids

In [2]:
objects = pd.read_json('https://collectionapi.metmuseum.org/public/collection/v1/objects')

In [3]:
objects

         total  objectIDs
0       480374          1
1       480374          2
2       480374          3
3       480374          4
4       480374          5
...        ...        ...
480369  480374     888683
480370  480374     888684
480371  480374     888686
480372  480374     888687
480373  480374     888688

[480374 rows x 2 columns]

It's a large dataset, let's look at one department for this project. The department I will be looking at here is the Arms and Armor department with ID 4.

In [4]:
arms_objects = pd.read_json('https://collectionapi.metmuseum.org/public/collection/v1/objects?departmentIds=4')

In [5]:
arms_objects

       total  objectIDs
0      13613      21810
1      13613      21811
2      13613      21812
3      13613      21813
4      13613      21814
...      ...        ...
13608  13613     812439
13609  13613     816822
13610  13613     835052
13611  13613     851637
13612  13613     851639

[13613 rows x 2 columns]

The Arms and Armor department has a total of 13614 objects. Let's look at the data we can get for one of these objects

In [7]:
url = 'https://collectionapi.metmuseum.org/public/collection/v1/objects/22183'
download = requests.get(url=url)

In [8]:
first_arm =json.loads(download.content)

In [9]:
first_arm

{'objectID': 22183,
 'isHighlight': False,
 'accessionNumber': '14.25.823a, b',
 'accessionYear': '1914',
 'isPublicDomain': False,
 'primaryImage': '',
 'primaryImageSmall': '',
 'additionalImages': [],
 'constituents': None,
 'department': 'Arms and Armor',
 'objectName': 'Arm defense and left gauntlet',
 'title': 'Arm Defense and Left Gauntlet',
 'culture': 'possibly Italian, Savoy or Spanish',
 'period': '',
 'dynasty': '',
 'reign': '',
 'portfolio': '',
 'artistRole': '',
 'artistPrefix': '',
 'artistDisplayName': '',
 'artistDisplayBio': '',
 'artistSuffix': '',
 'artistAlphaSort': '',
 'artistNationality': '',
 'artistBeginDate': '',
 'artistEndDate': '',
 'artistGender': '',
 'artistWikidata_URL': '',
 'artistULAN_URL': '',
 'objectDate': 'ca. 1590',
 'objectBeginDate': 1565,
 'objectEndDate': 1615,
 'medium': 'Steel, gold',
 'dimensions': 'arm defense (a): H. 19 3/4 in. (50.2 cm); W. 11 3/4 in. (29.8 cm); D. 7 5/8 in. (19.4 cm); Wt. 4 lb. 11.3 oz. (2133 g); left gauntlet (b): H. 9 1/2 in. (24.1 cm); W. 5 1/4 in. (13.3 cm); D. 5 3/8 in. (13.7 cm); Wt. 15.8 oz. (448 g)',
 'measurements': None,
 'creditLine': 'Gift of William H. Riggs, 1913',
 'geographyType': 'Country of Origin',
 'city': '',
 'state': '',
 'county': '',
 'country': 'Italy',
 'region': '',
 'subregion': '',
 'locale': '',
 'locus': '',
 'excavation': '',
 'river': '',
 'classification': 'Armor Parts-Arms & Shoulders',
 'rightsAndReproduction': '',
 'linkResource': '',
 'metadataDate': '2021-07-07T04:42:57.957Z',
 'repository': 'Metropolitan Museum of Art, New York, NY',
 'objectURL': 'https://www.metmuseum.org/art/collection/search/22183',
 'tags': None,
 'objectWikidata_URL': '',
 'isTimelineWork': False,
 'GalleryNumber': ''}

In [10]:
first_arm["objectID"]

22183

In [14]:
test_dataframe

NameError: name 'test_dataframe' is not defined

In [15]:
test_dataframe =test_dataframe.append(second_arm, ignore_index = True)

NameError: name 'test_dataframe' is not defined

In [ ]:
test_dataframe

Find the relavent fields.

In [16]:
second_arm_df = pd.DataFrame([second_arm])

NameError: name 'second_arm' is not defined

In [ ]:
test_trimmed_dataframe = pd.DataFrame(columns = ['objectID', 
                                                 'isHighlight', 
                                                 'isPublicDomain',
                                                 'objectName', 
                                                 'title', 
                                                 'artistRole',
                                                 'artistDisplayName',
                                                 'artistBeginDate',
                                                 'artistEndDate',
                                                 'objectBeginDate',
                                                 'objectEndDate', 
                                                 'medium',
                                                 'country', 
                                                 'classification'])

In [ ]:
test_trimmed_dataframe

In [ ]:
test_trimmed_dataframe= pd.concat([test_trimmed_dataframe,second_arm_df], join= 'inner', ignore_index="True")

In [ ]:
test_trimmed_dataframe

In [ ]:
first_arm_df = pd.DataFrame([first_arm])

In [ ]:
first_arm_df

In [ ]:
type(first_arm)

In [12]:
test_trimmed_dataframe= pd.concat([test_trimmed_dataframe,first_arm_df], join= 'inner', ignore_index="True")

NameError: name 'test_trimmed_dataframe' is not defined

In [116]:
test_trimmed_dataframe

,objectID,isHighlight,isPublicDomain,objectName,title,artistRole,objectBeginDate,objectEndDate,medium,country,classification
0,22184,False,True,Armor,Armor of the Dukes of Alba,Armorer,1550,1610,"Steel, gold, silver",Italy,Armor for Man-1/2 Armor
1,22183,False,False,Arm defense and left gauntlet,Arm Defense and Left Gauntlet,,1565,1615,"Steel, gold",Italy,Armor Parts-Arms & Shoulders

From the data above these are the fields that most interest me.
Some preliminary questions:

   * What percentage of the collection is highlighted?
   * What percentage is in the public domain?
   * How many individual artists are represented?
   * Who has the most works?
   * A timeline with the birth and death of the artists.
   * Which countries are most presented?
   * Which countries are most highlighted?
   * Which medium is the most used?
   * What is classified most often?

In [6]:
arms_and_armor_df = pd.DataFrame(columns = ['objectID', 
                                                 'isHighlight', 
                                                 'isPublicDomain',
                                                 'objectName', 
                                                 'title', 
                                                 'artistRole',
                                                 'artistDisplayName',
                                                 'artistBeginDate',
                                                 'artistEndDate',
                                                 'objectBeginDate',
                                                 'objectEndDate', 
                                                 'medium',
                                                 'country', 
                                                 'classification'])

In [7]:
base_url = 'https://collectionapi.metmuseum.org/public/collection/v1/objects/'

In [8]:
for objectID in arms_objects["objectIDs"]:
    request = requests.get(url=base_url+ str(objectID))
    artifact = json.loads(request.content)
    artifact_df = pd.DataFrame([artifact])
    arms_and_armor_df= pd.concat([arms_and_armor_df,artifact_df], join= 'inner', ignore_index="True")

ConnectionError: HTTPSConnectionPool(host='collectionapi.metmuseum.org', port=443): Max retries exceeded with url: /public/collection/v1/objects/25038 (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x00000143B3F4ED00>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))

In [14]:
arms_and_armor_df

,objectID,isHighlight,isPublicDomain,objectName,title,artistRole,artistDisplayName,artistBeginDate,artistEndDate,objectBeginDate,objectEndDate,medium,country,classification
0,21810,False,True,Gorget,Gorget of an Officer of the King's American Re...,,,,,1781,1781,"Brass, gold",,Armor Parts-Gorgets
1,21811,False,True,Blade and mounting for a sword (Katana),Blade and Mounting for a Sword (Katana),,,,,1801,1900,"Steel, wood, lacquer, iron, gold, copper-gold ...",Japan,Swords
2,21812,False,False,Thumb of a left gauntlet,Thumb of a Left Gauntlet,,,,,1525,1575,"Steel, gold, leather",France,Armor Parts-Gauntlets
3,21813,False,True,Fencing shoulder and arm guard,Fencing Shoulder and Arm Guard,,,,,1590,1900,Cloth,Japan,Fencing Equipment
4,21814,False,True,Sword guard (Tsuba),Sword guard (<i>Tsuba</i>) Depicting Bodhidhar...,,,,,1701,1800,"Iron, gold, silver",Japan,Sword Furniture-Tsuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5288,27756,False,False,Dagger with sheath,Dagger with Sheath,,,,,1701,1900,"Steel, silver, gold, wood, ray skin",Tibet,Daggers
5289,27757,False,False,Ritual dagger (Phur pa),Ritual Dagger (Phur Pa),,,,,1801,1900,Wood,Tibet,Daggers
5290,27758,False,True,Ritual dagger (Phur pa),Ritual Dagger (Phur Pa),,,,,1801,1900,Brass,Tibet,Daggers
5291,27759,False,False,Ritual dagger (Phur pa),Ritual Dagger (Phur Pa),,,,,1801,1900,Brass,Tibet,Daggers
5292,27761,False,False,Ritual dagger (Phur pa),Ritual Dagger (Phur Pa),,,,,1801,1900,Brass,Tibet,Daggers

In [15]:
i=0

In [16]:
for objectID in arms_objects["objectIDs"]:
    
    if objectID > 27761:
        if i >= 100:
            print(objectID)
            i=0
        request = requests.get(url=base_url+ str(objectID))
        artifact = json.loads(request.content)
        artifact_df = pd.DataFrame([artifact])
        arms_and_armor_df= pd.concat([arms_and_armor_df,artifact_df], join= 'inner', ignore_index="True")
        i+=1

29108
28096
28198
28301
27858
27961
28612
28712
28812
28912
29014
29138
29238
29340
29441
29542
28324
28430
28531
31423
31523
31623
30333
30433
30534
30634
30734
29729
29935
30040
30140
30240
31712
32742
32859
32964
33064
31938
32038
32138
32241
34406
30927
31027
31127
31227
31327
32375
32476
32576
32683
35739
30779
33921
34023
34127
34233
33390
33490
33598
33700
33800
34921
35025
35134
35240
35340
34451
34551
34651
34751
644344
788264
34321
739608
634458
659408
839248
33152
33252
642391

In [17]:
arms_and_armor_df

,objectID,isHighlight,isPublicDomain,objectName,title,artistRole,artistDisplayName,artistBeginDate,artistEndDate,objectBeginDate,objectEndDate,medium,country,classification
0,21810,False,True,Gorget,Gorget of an Officer of the King's American Re...,,,,,1781,1781,"Brass, gold",,Armor Parts-Gorgets
1,21811,False,True,Blade and mounting for a sword (Katana),Blade and Mounting for a Sword (Katana),,,,,1801,1900,"Steel, wood, lacquer, iron, gold, copper-gold ...",Japan,Swords
2,21812,False,False,Thumb of a left gauntlet,Thumb of a Left Gauntlet,,,,,1525,1575,"Steel, gold, leather",France,Armor Parts-Gauntlets
3,21813,False,True,Fencing shoulder and arm guard,Fencing Shoulder and Arm Guard,,,,,1590,1900,Cloth,Japan,Fencing Equipment
4,21814,False,True,Sword guard (Tsuba),Sword guard (<i>Tsuba</i>) Depicting Bodhidhar...,,,,,1701,1800,"Iron, gold, silver",Japan,Sword Furniture-Tsuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13433,812439,False,True,Flintlock longrifle,Flintlock Longrifle,Gunsmith,"George Schreyer, Sr.",1739,1819,1770,1820,"Wood (maple), steel, iron, brass, silver",United States,Firearms-Guns
13434,816822,False,True,Pair of stirrups,Pair of Stirrups,,,,,1501,1700,Copper alloy (bronze),Myanmar,Equestrian Equipment-Stirrups
13435,835052,False,True,Tools,Armorer's Tools,,,,,1601,1900,"Steel, wood",,Miscellaneous
13436,851637,False,True,Armor garniture,Armor Garniture of George Clifford (1558–1605)...,Armorer,Jacob Halder,1558,1608,1586,1586,"Steel, gold, leather, textile",England,Armor for Man
13437,851639,False,True,Left gauntlet,"Left Gauntlet of Henry (1594–1612), Prince of ...",Armorer,Jacob Halder,1558,1608,1600,1612,"Steel, gold, leather, textile",England,Armor Parts-Gauntlets

In [20]:
import os
with open("preliminary_save.json", "w") as f:
    print(f.write(arms_and_armor_df.to_json()))

3372052